<div id="st-container" class="st-container st-effect-12"
     ng-class="{'st-menu-open': SettingsService.settings.showSettings}">

    <div class="bg" ng-click="SettingsService.settings.showSettings = false"></div>

    <div class="message" ng-if="message" ng-class="{'fade': message}" ng-click="message = ''">{{message}}</div>

    <a ui-sref="room.settings"
       ng-click="SettingsService.settings.showSettings = true"
       class="settings-button">
        <span class="material-icons md-36">menu</span>
    </a>

    <ui-view name="toolbar" ng-class="{'st-menu-open': showSettings}"></ui-view>

    <div class="st-pusher">

        <div class="fullheight st-content">
            <div class="fullheight col-md-12" visualization signal="signal"
                 ng-click="showSettings = !showSettings">
            </div>
        </div>
    </div>
</div>