<div class="btn-group btn-group-justified">
    <a class="btn" ng-class="{'active': view == 'settings.share'}" ng-click="view = 'settings.share'">Share
        <div class="ripple-container"></div>
    </a>
    <a class="btn" ng-class="{'active': view == 'settings.colors'}" ng-click="view = 'settings.colors'">
        Settings
        <div class="ripple-container"></div>
    </a>
</div>

<a class="btn btn-default" ng-click="stop()" is-disabled="stopped">Stop</a>
<a class="btn btn-default" ng-click="start()" is-disabled="!stopped">Start</a>

<div class="settings" ng-include="'app/rooms/master/' +view+ '.html'">

</div>