<span>QR-code</span>
<qr ng-if="shareUrl" text="shareUrl"></qr>
<br/>

<!--<p class="bs-component">-->
    <!--<a href="javascript:void(0)" class="btn"><code>btn</code> only</a>-->
    <!--<a href="javascript:void(0)" class="btn active"><code>.active</code></a>-->
    <!--<a href="javascript:void(0)" class="btn btn-default">Default</a>-->
    <!--<a href="javascript:void(0)" class="btn btn-primary">Primary</a>-->
    <!--<a href="javascript:void(0)" class="btn btn-success">Success<div class="ripple-container"></div></a>-->
    <!--<a href="javascript:void(0)" class="btn btn-info">Info</a>-->
    <!--<a href="javascript:void(0)" class="btn btn-warning">Warning</a>-->
    <!--<a href="javascript:void(0)" class="btn btn-danger">Danger</a>-->
    <!--<a href="javascript:void(0)" class="btn btn-link">Link</a>-->
<!--</p>-->
<a clipboard text="shareUrl" ng-click="showMessage('Copied')">
    <span class="glyphicon glyphicon-link"> Copy link</span>
</a>