<ul class="settings-color">
    <li>
        <label>Background Color</label>
        <color-picker ng-model="SettingsService.backgroundColor"
                      color-picker-format="'rgb'"
                      color-picker-alpha="false"
                      color-picker-on-change="onColorChange($event, color)">
        </color-picker>
    </li>

    <li is-disabled="SettingsService.randomColors || SettingsService.smile || SettingsService.lsd"
        ng-class="{'disabled': SettingsService.randomColors}">

        <label>Color</label>
        <color-picker ng-model="SettingsService.color"
                      color-picker-format="'rgb'"
                      color-picker-alpha="false"
                      color-picker-on-change="onColorChange($event, color)">
        </color-picker>
    </li>

    <li is-disabled="SettingsService.smile || SettingsService.lsd" class="clearfix">
        <span class="pull-left">Random Colors</span>

        <div class="togglebutton pull-right">
            <label>
                <input ng-click="SettingsService.randomColors = !SettingsService.randomColors" type="checkbox">
                <span class="toggle"></span>
            </label>
        </div>
    </li>

    <li is-disabled="SettingsService.lsd" class="clearfix">
        <span class="pull-left">Scale Effect</span>
        <div class="togglebutton pull-right">
            <label>
                <input ng-click="SettingsService.scale = !SettingsService.scale" type="checkbox">
                <span class="toggle"></span>
            </label>
        </div>
    </li>

    <li is-disabled="SettingsService.lsd || SettingsService.randomColors" class="clearfix">
        <span class="pull-left">Smile Effect</span>
        <div class="togglebutton pull-right">
            <label>
                <input ng-click="SettingsService.smile = !SettingsService.smile" type="checkbox">
                <span class="toggle"></span>
            </label>
        </div>
    </li>
    <li is-disabled="SettingsService.smile || SettingsService.randomColors" class="clearfix">
        <span class="pull-left">LSD Effect</span>
        <div class="togglebutton pull-right">
            <label>
                <input ng-click="SettingsService.lsd = !SettingsService.lsd" type="checkbox">
                <span class="toggle"></span>
            </label>
        </div>
    </li>
</ul>