/*/!* || General layout rules for narrow screens *!/*/
@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/Nexa_Free_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/material-design/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('fonts/material-design/MaterialIcons-Regular.woff2') format('woff2'),
    url('fonts/material-design/MaterialIcons-Regular.woff') format('woff'),
    url('fonts/material-design/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

html {
    font-family: 'nexa_boldregular';
    font-size: 10px;
}

body {
    background: #333;
    overflow: hidden;
}

body > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
    height: 100%;
    min-height: 100%;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

.st-content {
    overflow-y: scroll;
    background: #f3efe0;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    box-shadow: 0 0 100px #333;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #4c4f54;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 2em;
}

.st-menu ul li a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.st-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: #fff;
}

.st-effect-12.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.st-effect-12 .st-pusher {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-12.st-menu-open .st-pusher {
    -webkit-transform: rotateY(-10deg);
    transform: rotateY(-10deg);
}

.st-effect-12.st-menu {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-12.st-menu-open .st-effect-12.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-12.st-menu::after {
    display: none;
}

.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 300px;
}

/*------------------------------*/

.flashlight {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -93px;
    margin-left: -84px;
}

.fullheight {
    height: 100vh;
    overflow: hidden;
}

.toolbar a {
    color: #787C7C;
}

.fullheight a:hover, .toolbar a:hover {
    text-decoration: none;
    color: #009688;
}

.fullheight a {
    position: absolute;
    z-index: 1001;
    top: 5px;
    left: 10px;
}

.fullheight a.pull-right {
    left: auto;
    right: 10px;
}

.workspace {
    margin-top: 5px;
}

.settings {
    color: #ccc;
    padding: 20px 25px 60px;
}

.settings .btn-full {
    text-align: center;
    display: block;
    font-size: 1.2em;
    width: 100%;
    padding: 8px 0;
    border: 3px solid #ccc;
    margin: 0 auto;
    cursor: pointer;
    background: transparent;
    transition: background 300ms ease;
}
.settings .btn-full:hover {
    background: #ccc;
    color: #222;
}

.settings a {
    color: #ccc;
}

.settings-color {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ccc;
}

.settings-color li {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0 0 10px;
    font-size: 16px;
}

.settings-color li input[disabled] {
    cursor: not-allowed;
}

.settings-color li label.disabled {
    cursor: not-allowed;
}

.settings-color li label {
    line-height: 30px;
    margin: 0;
    transition: opacity 0.5s ease;
}
.settings-color li.disabled label {
    opacity: 0.5;
}

.color-picker-wrapper input {
    color: #fff;
}

.settings-button {
    opacity: 0.3;
    color: #ccc;
    position: fixed;
    top: 17px;
    left: 42px;
    z-index: 999;
    visibility: visible;
}

.settings-button:hover {
    opacity: 1;
    color: #009688;
}

.aside-footer {
    position: absolute;
    height: 58px;
    bottom: 0;
    left: 0;
    width: 100%;
}
.aside-footer .wrapper {
    margin: 0 25px;
    /*border-top: 2px solid #444;*/
    padding: 10px 0;
    text-align: center;
}

.aside-footer a {
    padding: 0 20px;
    cursor: pointer;
}

.aside-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.aside-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -60px;
}
.aside-wrapper:after {
    content: "";
    display: block;
}
.aside-footer, .aside-wrapper:after {
    height: 60px;
}
.aside-footer {
    background: #4C4F54;
    box-shadow: 0 -2px 50px #222;
    z-index: 10;
}

.tabs {
    padding: 10px 10px 0;
    background: rgba(97, 101, 107, 1);
    background: -moz-linear-gradient(top, rgba(97, 101, 107, 1) 0%, rgba(76, 79, 84, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(97, 101, 107, 1)), color-stop(100%, rgba(76, 79, 84, 1)));
    background: -webkit-linear-gradient(top, rgba(97, 101, 107, 1) 0%, rgba(76, 79, 84, 1) 100%);
    background: -o-linear-gradient(top, rgba(97, 101, 107, 1) 0%, rgba(76, 79, 84, 1) 100%);
    background: -ms-linear-gradient(top, rgba(97, 101, 107, 1) 0%, rgba(76, 79, 84, 1) 100%);
    background: linear-gradient(to bottom, rgba(97, 101, 107, 1) 0%, rgba(76, 79, 84, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61656b', endColorstr='#4c4f54', GradientType=0);
}

.tabs a {
    width: 33.3333%;
    margin: 0;
    border: 1px solid transparent;
    border-width: 1px 0 0;
    color: #222;
}

.tabs a.active {
    background: #4c4f54;
    border-color: #999;
}

.tabs a span {
    font-size: 2em;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 998;
}


.message {
    position: absolute;
    z-index: 100000;
    top: 50%;
    margin-top: -24px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    opacity: 0.7;
    font-weight: bold;
    text-shadow: 0 0 20px #000, 0 0 80px #333, 0 0 90px #666;
}

.message.fade {
    animation: fadeMessage 1.55s linear;
}

@keyframes fadeMessage {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

.color-picker-wrapper.color-picker-swatch-only .input-group .input-group-addon {
    border: none;
    width: 100%;
    border-radius: 15px;
}
.color-picker-wrapper.color-picker-swatch-only .input-group .color-picker-input {
    height: 25px;
}
.color-picker-wrapper.color-picker-swatch-only {
    width: 50px;
}

.togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled] + .toggle {
    margin-right: 7px;
    background-color: #666;
}

.color-picker-wrapper .color-picker-panel {
    top: 130% !important;
    border-radius: 4px;
    box-shadow: 0 5px 30px -2px #000;
}

.color-picker-wrap .input-group > span {
    transition: background-color 0.5s ease;
}
.color-picker-wrap .input-group.disabled > span {
    background-color: #999 !important;
    cursor: not-allowed;
}


.btn-start {
    border-radius: 15px;
    padding: 10px 30px;
    width: 166px;
}

.bar {
    position: relative;
    width: 20px;
    height: 110px;
    display:inline-block;
}
.bar::before {
    position:absolute;
    content: "";
    display: block;
    height:100px;
    width: 40px;
    background: #DA4430;
    animation: die 1.5s infinite ease-in-out;
    bottom:0;
}

.delay-short:before {
    animation-delay: .25s;
}

.delay-long:before {
    animation-delay: .50s;
}
.delay-really-long:before {
    animation-delay: .75s;
}

@keyframes die {
    25% {
        background: #019B58;
    }
    50%{
        height:1px;
        background: #156AEB;
    }
    75% {
        background: #FFB505;
    }
}
