/*/!* || General layout rules for narrow screens *!/*/
@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/Nexa_Free_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'nexa_boldregular';
    font-size: 10px;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.st-content {
    overflow-y: scroll;
    background: #f3efe0;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #4c4f54;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}

.st-menu ul li a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: #fff;
}

.st-effect-12.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.st-effect-12 .st-pusher {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-12.st-menu-open .st-pusher {
    -webkit-transform: rotateY(-10deg);
    transform: rotateY(-10deg);
}

.st-effect-12.st-menu {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-12.st-menu-open .st-effect-12.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-12.st-menu::after {
    display: none;
}

.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 300px;
}

/*------------------------------*/

.flashlight {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.fullheight {
    height: 100vh;
    overflow: hidden;
}

.toolbar a {
    color: #787C7C;
}

.fullheight a:hover, .toolbar a:hover {
    text-decoration: none;
    color: #387DB9;
}
.fullheight a {
    position: absolute;
    z-index: 1001;
    top: 5px;
    left: 10px;
}
.fullheight a.pull-right {
    left: auto;
    right: 10px;
}

.toolbar {
    padding: 5px;
}

.workspace {
    margin-top: 5px;
}

/*.toolbar a {*/
    /*text-decoration: none;*/
/*}*/

.settings {
    color: #ccc;
}
.settings a {
    color: #ccc;
}

.settings-color {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ccc;
}

.settings-color li {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0 0 10px;
    font-size: 16px;
}

.settings-color li input[disabled] {
    cursor: not-allowed;
}
.settings-color li label.disabled {
    cursor: not-allowed;
}
.color-picker-wrapper input {
    color: #fff;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

